@import 'nullstyle.scss';

body{
    width: 100%;
    height: 100%;
    background-image: url('/img/kananaskis-alberta-kanada-nebo-oblaka-gory-les-derevya-el-priroda-zakat-ozero-vecher-kamni-otrazhenie.jpg');
    background-repeat:  no-repeat;
    background-size: cover;
    position: relative;
}

.avtorization{
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    width: 250px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, #00000042, #00000042);

    // background: linear-gradient(to top, #800080, #5d47d6);

    .text_avtorization{
        color: white;
        padding:  15px;
        font-size: medium;
        opacity: 0.8;
    }

    .welcome_text{
        color: white;
    }

    .input_login{
        background-color: #00000042;
        border-bottom: 1px solid white;
        text-align: left;
        color: white;
        margin: 10px;
        opacity: 0.5;
    }

    .input_login:hover{
        opacity: 1;
    }

    .input_password{
        background-color: #00000042;
        border-bottom: 1px solid white;
        text-align: left;
        color: white;
        margin: 10px;
        opacity: 0.5;
    }

    .input_password:hover{
        opacity: 1;
    }

    .welcome_button{
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        background-color: #00000042;
        text-align: center;
        margin: 15px;
        opacity: 0.5;
    }

    .welcome_button:hover{
        opacity: 1;
    }
}

// calculator





































//613px / 50% * 100%;
/*
.avtorization{
    border: 1px solid purple;

    background:white;

    font-size: 10px;

    font-weight: 400;

    text-align: center;

    margin: 0 auto;

    max-width: 200px;

    background: linear-gradient(to top, #fefcea, #f1da36);


    .text_avtorization{
        color: purple;
        margin: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .text_login{
        text-align: left;
        color: purple;
        margin: 5px 0 5px 17px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .text_password{
        text-align: left;
        color: purple;
        margin: 5px 0 5px 17px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .welcome_text{
        color: purple;
    }

    .input_login{
        border-bottom: 1px solid purple;
        opacity: 0.4;
        text-align: left;
    }
    .input_password{
        border-bottom: 1px solid purple;
        opacity: 0.4;
        text-align: left;
    }
    .welcome_button{
        border-bottom: 1px solid purple;
        border-top: 1px solid purple;
        text-align:  center;
        margin: 15px;
    }
}*/